/*********************************************************************/
/******************************* General *****************************/
/*********************************************************************/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#2D2E34;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.clear {
    clear: both;
}
/*********************************************************************/
/******************************** Topo *******************************/
/*********************************************************************/
#logo {
    width: 200px;
    color: white;
    padding-top: 18px;
    padding-left: 3px;
    background-color: #fff;
    border-radius: 50%;
    margin: auto;
    margin-top: 5.5em;
}

#logo img {
    width: 200px;
}

header ul {
    
    width: 100%;
    top: 0;
    list-style: none;
    text-transform: uppercase;
    background: #000;
    text-align: center;
}

header ul li {
    display: inline-block;
    line-height: 5em;
    font-weight: 900;
    letter-spacing: 0.3em;
}

header a {
    text-decoration: none;
    color: white;
    padding: 32px 40px;
}

body#home #home,
body#servicos #servicos,
body#sobre #sobre,
body#contato #contato,
header a:hover {
    background-color: darkgray;
    color: #000;
}

body#home #home,
body#servicos #servicos,
body#sobre #sobre,
body#contato #contato {
    cursor: vertical-text;
}

#topo {
    text-align: center;
    color: #FFF;
    font-style: italic;
    line-height: 4em;
}

.container {
    width: 80%;
    margin: auto;
}
/*********************************************************************/
/******************************** Main *******************************/
/*********************************************************************/
#main {
    width: 98%;
    margin: auto;
    transition: width 1px;
}

#automotivo,
#acessorio,
#casa {
    width: 33.333%;
    height: 80vh;
    float: left;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    line-height: 80vh;
    background-size: cover;
}

#automotivo {
    background-image: url("../Images/automotivo1.jpg");
}

#acessorio {
    background-image: url("../Images/acessorio1.jpg");
}

#casa {
    background-image: url("../Images/casa3.jpg");
}

#main a {
    text-decoration: none;
    color: #fff;
    font-size: 5em;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#automotivo a:hover { 
    color: #000;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 30px 60px 200px inset;
    font-size: 5em;
    font-weight: 900;
}

#acessorio a:hover {
    color: #000;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 30px 60px 200px inset;
    font-size: 5em;
    font-weight: 900;
}

#casa a:hover {
    color: #000;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 30px 60px 200px inset;
    font-size: 5em;
    font-weight: 900;
}

.box {
    width: 60%;
    border: 1px solid #fff;
    background-color: #000;
    margin-left: 20%;
    margin-bottom: 2.5%;
    float: left;
    color: #fff;
}

.box:hover {
    box-shadow: 1px 3px 15px 15px rgba(255,255,255,0.2);
}

.box-s {
    width: 35%;
    padding: 10px;
    height: 400px;
    overflow: hidden;
    float: left;
}

.box-s img {
    height: 100%;
}

.box-l {
    width: 45%;
    float: right;
    padding: 5%;  
}

.box-l h2 {
    padding: 20px 0;
}

.box-l p {
    padding: 10px 0;
    line-height: 1.5em;
    text-align: justify;
}

.box-l ul {
    margin-left: 10%;
    line-height: 1.5em;
}

.fab {
    font-size: 5em;
}

.fa-whatsapp-square.fab {
    color: #34af23;
    font-size: 5em;
    position:fixed;
    bottom: 10px;
    right: 10px;
}

/**************************************************/
/********************* Footer *********************/
/**************************************************/
footer {
    color: #fff;
    background-color: #000;
    width: 100%;
    text-align: center;
}

footer ul {
    list-style: none;
}

footer li {
    display: inline-block;
    width: 15%;
    line-height: 2em;
    font-size: 1em;
}

footer a {
    text-decoration: none;
    color: white;
}

footer li:hover {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 30px 60px 200px inset;
}

footer .fab {
    font-size: 3em;
    margin: 5px;
}

.info {
    border-top: 1px solid white;
}

.info h4 {
    line-height: 3em;
}

.info h5 {
    line-height: 2em;
}

/*********************************************************************/
/**************************** Media Queries **************************/
/*********************************************************************/

@media screen and (max-width: 1079px){
    #main a {
        font-size: 4em;
    }

    #automotivo a:hover { 
        font-size: 4em;
    }

    #acessorio a:hover {
        font-size: 4em;
    }

    #casa a:hover {
        font-size: 4em;
    }
}

@media screen and (max-width: 870px){

    body {
        font-size: 0.8em;
    }
    header a {
        padding: 24px 20px;
    }

    #automotivo,
    #acessorio,
    #casa {
        width: 100%;
        height: 15vh;
        float: none;
        display: inline-block;
        line-height: 15vh;
        margin: 0;
        background-position: center;
    }

    #main {
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 500px){
    header a {
        padding: 12px 80px;
    }

    #logo {
        margin-top: 12em;
    }

    header ul li {
        line-height: 3em;
    }
    footer li {
        margin: 20px;
    }

    .box {
        width: 95%;
        margin-left: 2%;
    }
}

@media screen and (max-width: 320px){

    #logo {
        margin-top: 12em;
    }

    #topo h1 {
        font-size: 1em;
    }

}
/*********************************************************************